<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/create-product.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <title>Nuevo producto</title>
</head>

<body>

    <%- include("../partials/header")%>
    
    <main>
      
      <h3>Cargá la información del producto:</h3>
      
      <div class="contenedor-principal">
        <form action="/products/create-product" method="POST" class="formulario" enctype="multipart/form-data">
          
          <div class="form-label">
            <label for="name">Nombre del producto:</label>
            <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input" />
          </div>

          <div class="form-label">
            <label for="price">Precio del producto:</label>
            <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input" />
          </div>

          <div class="form-options">
            <label for="category">Categoría:</label>
            <select name="category" id="category">
              <option value="">Elegí</option>
              <option value="Men">Hombres</option>
              <option value="Kids">Niños/as</option>
              <option value="Women">Mujeres</option>
            </select>
          </div>

          <label>Talles:</label>
          <div class="contenedor-secundario">
            <% for(let i=32; i < 37; i++){%>
              
              <label for="talle<%= i%>">
                <%= i%>
                <input type="checkbox" id="talle<%= i%>" name="talle" value="<%= i%>"/>
              </label>

            <% } %>
          </div>

          
          <label>Colores:</label>
          <div class="contenedor-secundario">
            <% const colores=["Rojo", "Azul" , "Verde" , "Blanco" , "Negro" , "Rosa" , "Amarillo" , "Violeta" , "Marrón"]%>
              <% for(let i=0; i < colores.length; i++){%>
                <%let color=colores[i]%>
           
                    <label for="color<%=color%>">
                      <%=color%>
                    </label>
                    <input type="checkbox" id="color<%=color%>" name="color" value="<%=color%>" />
                
              <% } %>

                      <!-- 
      
                  aqui hice reemplace este codigo por un ciclo y los colores los agregue en un array
      
                  <div class="colores">
                  <label for="color">Rojo</label>
                  <input type="checkbox" id="colorRojo" name="color" value="Rojo" />
                </div>
                <div class="colores">
                  <label for="col">Azul</label>
                  <input type="checkbox" id="colorAzul" name="color" value="Azul" />
                </div>
                <div class="colores">
                  <label for="colo">Verde</label>
                  <input type="checkbox" id="colorVerde" name="color" value="Verde" />
                </div>
                <div class="colores">
                  <label for="color">Blanco</label>
                  <input type="checkbox" id="colorBlanco" name="color" value="Blanco" />
                </div>
                <div class="colores">
                  <label for="colo">Negro</label>
                  <input type="checkbox" id="colorNegro" name="color" value="Negro" />
                </div>
                <div class="colores">
                  <label for="col">Rosa</label>
                  <input type="checkbox" id="colorRosa" name="color" value="Rosa" />
                </div>
                <div class="colores">
                  <label for="colorAm">Amarillo</label>
                  <input type="checkbox" id="colorAmarillo" name="color" value="Amarillo" />
                </div>
                <div class="colores">
                  <label for="colorV">Violeta</label>
                  <input type="checkbox" id="colorVioleta" name="color" value="Violeta" />
                </div>
                <div class="colores">
                  <label for="color">Marrón</label>
                  <input type="checkbox" id="colorMarron" name="color" value="Marrón" />
                </div>
              </div>
      
                 -->
                 
          </div>

          <div class="form-description">
            <label for="description">Descipción:</label>
            <textarea name="description" id="description" class="form-input"></textarea>
          </div>
          
          <div class="form-images">
            <label for="imagenProduto">Selecciona una imagen:</label>
            <input type="file" id="imagenProduto" name="imagenProduto" accept="image/*">
          </div>
          
          <div>
            <label for="section">Sección</label>
            <div class="form-options">
              <label>
                <input type="radio" name="section" value="in-sale"> Ofertas
              </label>
              <label>
                <input type="radio" name="section" value="features"> Destacados
              </label>
              <label>
                <input type="radio" name="section" value="last-colection"> Última colección
              </label>
            </div>
          </div>

          <div class="botones">
            <button type="reset">Limpiar campos</button>
            <button type="submit">Guardar producto</button>
          </div>

        </form>
      </div>

    </main>
    <%- include("../partials/footer")%>
</body>

</html>