<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit-products.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <title>Modificar producto</title>
</head>

<body>
    <%- include("../partials/header")%>
        <main>
            <div class="contenedor-principal">

                <form action="/products/<%= producto.id  %>?_method=PUT" method="POST">
                    <div class="inputs">
                        <label for="name">Nombre del producto: <% producto.name %></label>
                        <input type="text" name="name" id="name" value="<%=producto.name %>">
                    </div>
                    <div class="inputs">
                        <label for="price">Precio:</label>
                        <input type="number" name="price" id="price" value="<%= producto.price %>">
                    </div>
                    <div class="inputs">
                        <label for="description">Descipci칩n:</label>
                        <input name="description" id="description"></textarea>
                      </div>
                      <div class="form-images">
                        <label for="imagenProduto">Selecciona una imagen:</label>
                        <input type="file" id="imagenProduto" name="imagenProduto" accept="image/*">
                      </div>
                    <div>
                        <label for="categoria">Categoria</label>
                        <div class="contenedor-secundario">
                            <label>

                                <input type="radio" name="categoria" id="categoria" value="hombres" <% if(producto.category==="Men" ) {
                                    %>checked<% } %>> Hombres
                            </label>
                            <label>
                                <input type="radio" name="categoria" id="categoria" value="mujeres" <% if(producto.category==="Women" )
                                    { %>checked<% } %>> Mujeres
                            </label>
                            <label>
                                <input type="radio" name="categoria" id="categoria" value="ni침os" <% if(producto.category==="Kids" ) {
                                    %>checked<% } %>> Ni침os
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="seccion">Secci칩n</label>
                        <div class="contenedor-secundario">
                            <label>

                                <input type="radio" name="seccion" id="seccion" value="Ofertas" <% if(producto.section==="in-sale" ) {
                                    %>checked<% } %>> Ofertas
                            </label>
                            <label>
                                <input type="radio" name="seccion" id="seccion" value="Destacados" <% if(producto.section==="featured" )
                                    { %>checked<% } %>> Destacados
                            </label>
                            <label>
                                <input type="radio" name="seccion" id="seccion" value="Ultima coleccion" <% if(producto.section==="last-colection" ) {
                                    %>checked<% } %>> Ultima coleccion
                            </label>
                        </div>
                    </div>
                
                        <h3>Talles:</h3>
                        <div class="contenedor-secundario">
                            <% const sizes=producto.sizes || []; const availableSizes=(producto.category==="Kids" ) ?
                                [22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35] : [36, 37, 38, 39, 40, 41, 42,
                                43, 44]; %>
                                
                                <% availableSizes.forEach(size=> { %>
                                    <label for="size<% size%>">
                                        <input type="checkbox" name="size <% size%>" id="size <% size%>" value="<%= size %>" <% if
                                            (sizes.includes(size)) { %>checked<% } %>>
                                            <%= size %>
                                            
                                    </label>
                                    <% }); %>
                        </div>

                    
                    <div>
                        <h3>Colores:</h3>
                        <div class="colores">
                            <% const colorImages = ['Amarillo', 'Azul', 'Blanco', 'Marron', 'Negro', 'Rojo', 'Rosa', 'Verde', 'Violeta']; %>
                            <% colorImages.forEach(colorImage => { %>
                                <label class="color-checkbox" for="<%= colorImage %>"> 
                                    <input type="checkbox" id="<%= colorImage %>" name="<%= colorImage%>" value="<%= colorImage %>">
                                    <img src="/img/utils/<%= colorImage %>.png" alt="<%= colorImage %>">
                                </label>
                            <% }); %>
                        </div>
                    </div>
                    <div>
                        <label for="imagen">Subir imagen</label>
                        <input type="file" id="imagen" name="imagen" accept="image/*">
                    </div>

                    <div class="botones">
                        <button type="reset">Descartar cambios <i class="fas fa-trash"></i></button>
                        <button type="submit">Guardar cambios <i class="fas fa-save"></i></button>
                    </div>
                </form>
            </div>
        </main>

</body>


</html>