<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Perfiles</title>
</head>
<body>
    <%- include("../partials/smallHeader")%>

    <main>
        <div class="profile-image">
            <img src="/img/usersImageProfile/<%= user.profile_image_url %>" alt="imagen de usuario">
        </div>
        
        <div class="form">
            <form action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">

                <h2> Bienvenido <%= user.first_name + ' ' + user.last_name %></h2>
                
                <div class="profile">
    
                    <label for="profile-nombre">Nombre:</label>
                    <input type="text" name="profile-nombre" id="profile-nombre" value="<%= user.first_name %>" placeholder="Ej: Jose Marcelo">
    
                </div>

                <div class="profile">
    
                    <label for="profile-apellido">Apellido:</label>
                    <input type="text" name="profile-apellido" id="profile-apellido" value="<%= user.last_name %>" placeholder="Ej: Lodi">
    
                </div>
                
                <div class="profile">
    
                    <label for="profile-email">Correo electrónico:</label>
                    <input type="email" name="profile-email" id="profile-email" value="<%= user.email %>" placeholder="Ej: joselodi12@gmail.com">
    
                </div>

                <div>
                    <% if(locals.errors && errors['profile-email']){ %>
                        <span class="mensaje-de-error"><%= errors['profile-email'].msg %></span>
                    <% } %>
                </div>

    
                <div class="profile">
                    
                    <label for="profile-adress">Domicilio: </label>
                    <input type="text" name="profile-adress" id="profile-adress" 
                    value=
                    "<% if(locals.user && user.address){ %>
                        <%= user.address %>
                    <% } %>" 
                    placeholder="Ej: Rivadavia 668">
    
                </div>
    
                <div class="profile" id="profile-password">
                    <label for="">Cambiar contraseña</label>
                    
                    <div class="profile-password">
                        <input type="password" name="profile-password-current" id="profile-password-current" placeholder="Contraseña actual">

                        <div>
                            <% if(locals.errors && errors['profile-password-current']){ %>
                                <span class="mensaje-de-error"><%= errors['profile-password-current'].msg %></span>
                            <% } %>
                        </div>

                        <input type="password" name="profile-password-new" id="profile-password-new" placeholder="Contraseña nueva">

                        <div class="box-mensaje-de-error">
                            <% if(locals.errors && errors['profile-password-new']){ %>
                                    <span class="mensaje-de-error">
                                        <%= errors['profile-password-new'].msg %>
                                    </span>
                            <% } %>
                        </div>

                        <!-- 

                        <input type="password" name="profile-password-admin" id="profile-password-admin" placeholder="Clave de administrador">

                        <div>
                            <% if(locals.errors && errors['profile-password-admin']){ %>
                                <span class="mensaje-de-error">
                                    <%= errors['profile-password-admin'].msg %>
                                </span>
                            <% } %>
                        </div>

                         -->
                        

                    </div>

                    
    
                </div>
    
                
                
                <!-- 

                <div class="profile-select">
                    <Label>Pais de Nacimiento:</Label>
                    <Select name="profile-country" id="profile-country">
                        
                        <option value="">---------------</option>
                        <% const countries = ['Argentina', 'Brasil', 'Uruguay'] %>
    
                        <% for( const country of countries){ %>
    
                            <option value="<%= country %>" 
                            <% if(locals.user && user.country === country){%>
                                selected
                            <% } %>>
                            <%= country %>
                            </option>
                            
                        <% } %>
    
                    </Select>
                </div>

                <div class="profile-select">
                    <Label>Provincia:</Label>
                    <Select name="profile-province" id="profile-province">
                        
                        <option value="">---------------</option>
                        <% const provinces = ['Santiago del Estero', 'Córdoba', 'Buenos Aires', 'Tucumán'] %>
    
                        <% for( const province of provinces){ %>
    
                            <option value="<%= province %>" 
                                <% if(locals.user && user.province === province){%>
                                    selected
                                <% } %>>
                                <%= province %>
                            </option>
    
                        <% } %>
                        
                    </Select>
                </div>

                 -->
                

                <div class="profile-select">
                    <Label>Categoría:</Label>
                    <Select name="profile-category" id="profile-category">
                        
                        <option value="">---------------</option>
                        <% const categories = ['Comprador', 'Administrador'] %>
    
                        <% for( const category of categories){ %>
    
                            <option value="<%= category %>"
                                <% if(locals.user && user.user_type === category){%>
                                    selected
                                <% } %>>
                                <%= category %>
                            </option>
    
                        <% } %>
                        
                    </Select>
                </div>
    
                <div class="profile-select">
                    <input type="file" name="profile-image" id="image-profile">
                </div>

               
                <div class="bt-box-save">
                    <button class="bt-save" type="submit">Guardar</button>
                </div>
                
                <div class="profile-linea">
                    <div class="profile-line-left"></div>
                    <div class="profile-line-words">o</div>
                    <div class="profile-line-right"></div>
                </div>
    
            </form>

            <form class="profile-cerrar-sesion" action="/users/logout" method="POST">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
        
    </main>
    
    <footer><p>Copyright® 2023 DH Venture Capitals. Todos los derechos reservados</p></footer>
</body>
</html>